# Load CSV to Database

In [31]:
import pandas as pd
 
df = pd.read_csv("Ecommerce_Sales_Analysis.csv")

df.head(2)

,Row ID,Order ID,Year,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,2013,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2013-152156,2013,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [32]:
df.columns

Index(['Row ID', 'Order ID', 'Year', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [33]:
df.shape

(9994, 22)

In [34]:
df.dtypes

Row ID             int64
Order ID          object
Year               int64
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [35]:

from sqlalchemy import create_engine
import psycopg2

# Database connection parameters
username = 'postgres'
password = 'postgresql'
host = 'localhost'
port = '5432'
database = 'postgres'

# Connect to PostgreSQL
# Create a connection string
conn_s = f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}'



csv_file_path = "Ecommerce_Sales_Analysis.csv"
# Create an SQLAlchemy engine



engine = create_engine(conn_s)

 
# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

# Load the DataFrame into PostgreSQL
df.to_sql('Ecommerce_Sales_Analysis', con=engine, if_exists='replace', index=False)

print("Data loaded successfully!")

Data loaded successfully!

In [36]:
conn = psycopg2.connect(
    dbname=database,
    user=username,
    password=password,
    host=host,
    port=port
)

cur = conn.cursor()

sql_data='''SELECT * FROM public."Ecommerce_Sales_Analysis" LIMIT 10;'''
df = pd.read_sql(sql_data, conn)  
print(df)

   Row ID        Order ID  Year  Order Date   Ship Date       Ship Mode  \
0       1  CA-2013-152156  2013   11/9/2013  11/12/2013    Second Class
1       2  CA-2013-152156  2013   11/9/2013  11/12/2013    Second Class
2       3  CA-2013-138688  2013   6/13/2013   6/17/2013    Second Class
3       4  US-2012-108966  2012  10/11/2012  10/18/2012  Standard Class
4       5  US-2012-108966  2012  10/11/2012  10/18/2012  Standard Class
5       6  CA-2011-115812  2011    6/9/2011   6/14/2011  Standard Class
6       7  CA-2011-115812  2011    6/9/2011   6/14/2011  Standard Class
7       8  CA-2011-115812  2011    6/9/2011   6/14/2011  Standard Class
8       9  CA-2011-115812  2011    6/9/2011   6/14/2011  Standard Class
9      10  CA-2011-115812  2011    6/9/2011   6/14/2011  Standard Class

  Customer ID    Customer Name    Segment        Country  ... Postal Code  \
0    CG-12520      Claire Gute   Consumer  United States  ...       42420
1    CG-12520      Claire Gute   Consumer  United States  ...       42420
2    DV-13045  Darrin Van Huff  Corporate  United States  ...       90036
3    SO-20335   Sean O'Donnell   Consumer  United States  ...       33311
4    SO-20335   Sean O'Donnell   Consumer  United States  ...       33311
5    BH-11710  Brosina Hoffman   Consumer  United States  ...       90032
6    BH-11710  Brosina Hoffman   Consumer  United States  ...       90032
7    BH-11710  Brosina Hoffman   Consumer  United States  ...       90032
8    BH-11710  Brosina Hoffman   Consumer  United States  ...       90032
9    BH-11710  Brosina Hoffman   Consumer  United States  ...       90032

  Region       Product ID         Category Sub-Category  \
0  South  FUR-BO-10001798        Furniture    Bookcases
1  South  FUR-CH-10000454        Furniture       Chairs
2   West  OFF-LA-10000240  Office Supplies       Labels
3  South  FUR-TA-10000577        Furniture       Tables
4  South  OFF-ST-10000760  Office Supplies      Storage
5   West  FUR-FU-10001487        Furniture  Furnishings
6   West  OFF-AR-10002833  Office Supplies          Art
7   West  TEC-PH-10002275       Technology       Phones
8   West  OFF-BI-10003910  Office Supplies      Binders
9   West  OFF-AP-10002892  Office Supplies   Appliances

                                        Product Name     Sales Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600        2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400        3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200        2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775        5
4                     Eldon Fold 'N Roll Cart System   22.3680        2
5  Eldon Expressions Wood and Plastic Desk Access...   48.8600        7
6                                         Newell 322    7.2800        4
7                     Mitel 5320 IP Phone VoIP phone  907.1520        6
8  DXL Angle-View Binders with Locking Rings by S...   18.5040        3
9                   Belkin F5C206VTEL 6 Outlet Surge  114.9000        5

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164
5      0.00   14.1694
6      0.00    1.9656
7      0.20   90.7152
8      0.20    5.7825
9      0.00   34.4700

[10 rows x 22 columns]

C:\Users\kisha\AppData\Local\Temp\ipykernel_18896\1311576060.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_data, conn)

In [37]:
# Commit and close the connection
conn.commit()
cur.close()
conn.close()