In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\kisha\anaconda3\lib\site-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\kisha\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)

In [4]:
import pyspark

In [6]:
import pandas as pd
df = pd.read_csv('./datasets/Ecommerce_Sales_Analysis.csv')
df.head(2)

   Row ID        Order ID  Year Order Date  ...   Sales Quantity Discount    Profit
0       1  CA-2013-152156  2013  11/9/2013  ...  261.96        2      0.0   41.9136
1       2  CA-2013-152156  2013  11/9/2013  ...  731.94        3      0.0  219.5820

[2 rows x 22 columns]

In [7]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practice').getOrCreate()

In [8]:
spark

In [19]:
df_pyspark = spark.read.option('header','true').csv('./datasets/Ecommerce_Sales_Analysis.csv',inferSchema=True)

In [20]:
df_pyspark.show(2)

+------+--------------+----+----------+----------+------------+-----------+-------------+--------+-------------+---------+--------+-----------+------+---------------+---------+------------+--------------------+------+--------+--------+-------+
|Row ID|      Order ID|Year|Order Date| Ship Date|   Ship Mode|Customer ID|Customer Name| Segment|      Country|     City|   State|Postal Code|Region|     Product ID| Category|Sub-Category|        Product Name| Sales|Quantity|Discount| Profit|
+------+--------------+----+----------+----------+------------+-----------+-------------+--------+-------------+---------+--------+-----------+------+---------------+---------+------------+--------------------+------+--------+--------+-------+
|     1|CA-2013-152156|2013| 11/9/2013|11/12/2013|Second Class|   CG-12520|  Claire Gute|Consumer|United States|Henderson|Kentucky|      42420| South|FUR-BO-10001798|Furniture|   Bookcases|Bush Somerset Col...|261.96|       2|       0|41.9136|
|     2|CA-2013-152156|2013| 11/9/2013|11/12/2013|Second Class|   CG-12520|  Claire Gute|Consumer|United States|Henderson|Kentucky|      42420| South|FUR-CH-10000454|Furniture|      Chairs|Hon Deluxe Fabric...|731.94|       3|       0|219.582|
+------+--------------+----+----------+----------+------------+-----------+-------------+--------+-------------+---------+--------+-----------+------+---------------+---------+------------+--------------------+------+--------+--------+-------+
only showing top 2 rows

In [21]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [22]:
df_pyspark.head(3)

[Row(Row ID=1, Order ID='CA-2013-152156', Year=2013, Order Date='11/9/2013', Ship Date='11/12/2013', Ship Mode='Second Class', Customer ID='CG-12520', Customer Name='Claire Gute', Segment='Consumer', Country='United States', City='Henderson', State='Kentucky', Postal Code=42420, Region='South', Product ID='FUR-BO-10001798', Category='Furniture', Sub-Category='Bookcases', Product Name='Bush Somerset Collection Bookcase', Sales='261.96', Quantity='2', Discount='0', Profit=41.9136),
 Row(Row ID=2, Order ID='CA-2013-152156', Year=2013, Order Date='11/9/2013', Ship Date='11/12/2013', Ship Mode='Second Class', Customer ID='CG-12520', Customer Name='Claire Gute', Segment='Consumer', Country='United States', City='Henderson', State='Kentucky', Postal Code=42420, Region='South', Product ID='FUR-CH-10000454', Category='Furniture', Sub-Category='Chairs', Product Name='Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back', Sales='731.94', Quantity='3', Discount='0', Profit=219.582),
 Row(Row ID=3, Order ID='CA-2013-138688', Year=2013, Order Date='6/13/2013', Ship Date='6/17/2013', Ship Mode='Second Class', Customer ID='DV-13045', Customer Name='Darrin Van Huff', Segment='Corporate', Country='United States', City='Los Angeles', State='California', Postal Code=90036, Region='West', Product ID='OFF-LA-10000240', Category='Office Supplies', Sub-Category='Labels', Product Name='Self-Adhesive Address Labels for Typewriters by Universal', Sales='14.62', Quantity='2', Discount='0', Profit=6.8714)]

In [23]:
df_pyspark.printSchema() #df.info()

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: double (nullable = true)

- Dataframe
- reading the dataset
- checking the datatypes of column (schema)
- selecting columns and indexing
- check describe option similar to pandas
- adding columns
- dropping columns

In [24]:
df_pyspark.columns

['Row ID',
 'Order ID',
 'Year',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'Country',
 'City',
 'State',
 'Postal Code',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [25]:
df_pyspark.select('Customer Name')

DataFrame[Customer Name: string]

In [26]:
df_pyspark.select('Customer Name').show()

+------------------+
|     Customer Name|
+------------------+
|       Claire Gute|
|       Claire Gute|
|   Darrin Van Huff|
|    Sean O'Donnell|
|    Sean O'Donnell|
|   Brosina Hoffman|
|   Brosina Hoffman|
|   Brosina Hoffman|
|   Brosina Hoffman|
|   Brosina Hoffman|
|   Brosina Hoffman|
|   Brosina Hoffman|
|      Andrew Allen|
|      Irene Maddox|
|     Harold Pawlan|
|     Harold Pawlan|
|         Pete Kriz|
|   Alejandro Grove|
|Zuschuss Donatelli|
|Zuschuss Donatelli|
+------------------+
only showing top 20 rows

In [27]:
type(df_pyspark.select('Customer Name').show())

+------------------+
|     Customer Name|
+------------------+
|       Claire Gute|
|       Claire Gute|
|   Darrin Van Huff|
|    Sean O'Donnell|
|    Sean O'Donnell|
|   Brosina Hoffman|
|   Brosina Hoffman|
|   Brosina Hoffman|
|   Brosina Hoffman|
|   Brosina Hoffman|
|   Brosina Hoffman|
|   Brosina Hoffman|
|      Andrew Allen|
|      Irene Maddox|
|     Harold Pawlan|
|     Harold Pawlan|
|         Pete Kriz|
|   Alejandro Grove|
|Zuschuss Donatelli|
|Zuschuss Donatelli|
+------------------+
only showing top 20 rows

NoneType

In [28]:
df_pyspark.select(['Customer Name','Sales']).show()

+------------------+--------+
|     Customer Name|   Sales|
+------------------+--------+
|       Claire Gute|  261.96|
|       Claire Gute|  731.94|
|   Darrin Van Huff|   14.62|
|    Sean O'Donnell|957.5775|
|    Sean O'Donnell|  22.368|
|   Brosina Hoffman|   48.86|
|   Brosina Hoffman|    7.28|
|   Brosina Hoffman| 907.152|
|   Brosina Hoffman|  18.504|
|   Brosina Hoffman|   114.9|
|   Brosina Hoffman|1706.184|
|   Brosina Hoffman| 911.424|
|      Andrew Allen|  15.552|
|      Irene Maddox| 407.976|
|     Harold Pawlan|   68.81|
|     Harold Pawlan|   2.544|
|         Pete Kriz|  665.88|
|   Alejandro Grove|    55.5|
|Zuschuss Donatelli|    8.56|
|Zuschuss Donatelli|  213.48|
+------------------+--------+
only showing top 20 rows

In [29]:
## slicing not work here

In [30]:
df_pyspark['Customer Name']

Column<'Customer Name'>

In [31]:
df_pyspark['Customer Name'].show()

TypeError: 'Column' object is not callable

In [32]:
df_pyspark.dtypes

[('Row ID', 'int'),
 ('Order ID', 'string'),
 ('Year', 'int'),
 ('Order Date', 'string'),
 ('Ship Date', 'string'),
 ('Ship Mode', 'string'),
 ('Customer ID', 'string'),
 ('Customer Name', 'string'),
 ('Segment', 'string'),
 ('Country', 'string'),
 ('City', 'string'),
 ('State', 'string'),
 ('Postal Code', 'int'),
 ('Region', 'string'),
 ('Product ID', 'string'),
 ('Category', 'string'),
 ('Sub-Category', 'string'),
 ('Product Name', 'string'),
 ('Sales', 'string'),
 ('Quantity', 'string'),
 ('Discount', 'string'),
 ('Profit', 'double')]

In [33]:
df_pyspark.describe()

DataFrame[summary: string, Row ID: string, Order ID: string, Year: string, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, Country: string, City: string, State: string, Postal Code: string, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: string]

In [34]:
df_pyspark.describe().show()

+-------+------------------+--------------+------------------+----------+---------+--------------+-----------+------------------+-----------+-------------+--------+-------+------------------+-------+---------------+----------+------------+--------------------+------------------+------------------+------------------+------------------+
|summary|            Row ID|      Order ID|              Year|Order Date|Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|      Country|    City|  State|       Postal Code| Region|     Product ID|  Category|Sub-Category|        Product Name|             Sales|          Quantity|          Discount|            Profit|
+-------+------------------+--------------+------------------+----------+---------+--------------+-----------+------------------+-----------+-------------+--------+-------+------------------+-------+---------------+----------+------------+--------------------+------------------+------------------+------------------+------------------+
|  count|              9994|          9994|              9994|      9994|     9994|          9994|       9994|              9994|       9994|         9994|    9994|   9994|              9994|   9994|           9994|      9994|        9994|                9994|              9994|              9994|              9994|              9994|
|   mean|            4997.5|          NULL|2012.7229337602562|      NULL|     NULL|          NULL|       NULL|              NULL|       NULL|         NULL|    NULL|   NULL|  55190.3794276566|   NULL|           NULL|      NULL|        NULL|                NULL|234.41818199917006| 5.828590535392018|0.3155949113492862|28.587912967780834|
| stddev|2885.1636290974325|          NULL|  1.12403949377386|      NULL|     NULL|          NULL|       NULL|              NULL|       NULL|         NULL|    NULL|   NULL|32063.693350364487|   NULL|           NULL|      NULL|        NULL|                NULL| 631.7890112674363|25.520975563736403| 3.314008629792499| 234.3891156047269|
|    min|                 1|CA-2011-100006|              2011|  1/1/2014| 1/1/2012|   First Class|   AA-10315|     Aaron Bergman|   Consumer|United States|Aberdeen|Alabama|              1040|Central|FUR-BO-10000112| Furniture| Accessories|"""While you Were...|          10/Pack"|      1040 sheets"|           30/Box"|         -6599.978|
|    max|              9994|US-2014-169551|              2014|  9/9/2014| 9/9/2014|Standard Class|   ZD-21925|Zuschuss Donatelli|Home Office|United States|    Yuma|Wyoming|             99301|   West|TEC-PH-10004977|Technology|      Tables|netTALK DUO VoIP ...|            999.98|            98.352|            98.352|          8399.976|
+-------+------------------+--------------+------------------+----------+---------+--------------+-----------+------------------+-----------+-------------+--------+-------+------------------+-------+---------------+----------+------------+--------------------+------------------+------------------+------------------+------------------+

In [35]:
#adding columns
df_pyspark.withColumn('2 Year later',df_pyspark['Year']+2)

DataFrame[Row ID: int, Order ID: string, Year: int, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, Country: string, City: string, State: string, Postal Code: int, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: double, 2 Year later: int]

In [36]:
df_pyspark.withColumn('2 Year later',df_pyspark['Year']+2).show

<bound method DataFrame.show of DataFrame[Row ID: int, Order ID: string, Year: int, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, Country: string, City: string, State: string, Postal Code: int, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: double, 2 Year later: int]>

In [37]:
df_pyspark.withColumn('2 Year later',df_pyspark['Year']+2).show()

+------+--------------+----+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------+
|Row ID|      Order ID|Year|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|      Country|           City|         State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|2 Year later|
+------+--------------+----+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------+
|     1|CA-2013-152156|2013| 11/9/2013|11/12/2013|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|       0| 41.9136|        2015|
|     2|CA-2013-152156|2013| 11/9/2013|11/12/2013|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|       0| 219.582|        2015|
|     3|CA-2013-138688|2013| 6/13/2013| 6/17/2013|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|       0|  6.8714|        2015|
|     4|US-2012-108966|2012|10/11/2012|10/18/2012|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|        2014|
|     5|US-2012-108966|2012|10/11/2012|10/18/2012|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|        2014|
|     6|CA-2011-115812|2011|  6/9/2011| 6/14/2011|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|       0| 14.1694|        2013|
|     7|CA-2011-115812|2011|  6/9/2011| 6/14/2011|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|       0|  1.9656|        2013|
|     8|CA-2011-115812|2011|  6/9/2011| 6/14/2011|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|        2013|
|     9|CA-2011-115812|2011|  6/9/2011| 6/14/2011|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|        2013|
|    10|CA-2011-115812|2011|  6/9/2011| 6/14/2011|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|       0|   34.47|        2013|
|    11|CA-2011-115812|2011|  6/9/2011| 6/14/2011|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|        2013|
|    12|CA-2011-115812|2011|  6/9/2011| 6/14/2011|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568|        2013|
|    13|CA-2014-114412|2014| 4/16/2014| 4/21/2014|Standard Class|   AA-10480|      Andrew Allen|   Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|        2016|
|    14|CA-2013-161389|2013| 12/6/2013|12/11/2013|Standard Class|   IM-15070|      Irene Maddox|   Consumer|United States|        Seattle|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|        2015|
|    15|US-2012-118983|2012|11/22/2012|11/26/2012|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|        2014|
|    16|US-2012-118983|2012|11/22/2012|11/26/2012|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|        2014|
|    17|CA-2011-105893|2011|11/11/2011|11/18/2011|Standard Class|   PK-19075|         Pete Kriz|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|"Stur-D-Stor Shel...|  665.88|       6|       0| 13.3176|        2013|
|    18|CA-2011-167164|2011| 5/13/2011| 5/15/2011|  Second Class|   AG-10270|   Alejandro Grove|   Consumer|United States|    West Jordan|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|       0|    9.99|        2013|
|    19|CA-2011-143336|2011| 8/27/2011|  9/1/2011|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|       0|  2.4824|        2013|
|    20|CA-2011-143336|2011| 8/27/2011|  9/1/2011|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|        2013|
+------+--------------+----+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+------------+
only showing top 20 rows

In [38]:
# we need to assign the operation to see the results in original df
# make sure you have removed show option while assigning
# show is used to display results

In [39]:
# we can give list of columns to drop
df_pyspark.drop('2 Year later')

DataFrame[Row ID: int, Order ID: string, Year: int, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, Country: string, City: string, State: string, Postal Code: int, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: double]

In [40]:
df_pyspark=df_pyspark.withColumn('2 Year later',df_pyspark['Year']+2)

In [41]:
df_pyspark.printSchema()

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: double (nullable = true)
 |-- 2 Year later: integer (nullable = true)

In [42]:
df_pyspark.drop('2 Year later')

DataFrame[Row ID: int, Order ID: string, Year: int, Order Date: string, Ship Date: string, Ship Mode: string, Customer ID: string, Customer Name: string, Segment: string, Country: string, City: string, State: string, Postal Code: int, Region: string, Product ID: string, Category: string, Sub-Category: string, Product Name: string, Sales: string, Quantity: string, Discount: string, Profit: double]

In [43]:
df_pyspark.printSchema()

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: double (nullable = true)
 |-- 2 Year later: integer (nullable = true)

In [44]:
df_pyspark=df_pyspark.drop('2 Year later')

In [45]:
df_pyspark.printSchema()

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: double (nullable = true)

In [47]:
df_pyspark.withColumnRenamed('Product ID','Product_ID').show(1)

+------+--------------+----+----------+----------+------------+-----------+-------------+--------+-------------+---------+--------+-----------+------+---------------+---------+------------+--------------------+------+--------+--------+-------+
|Row ID|      Order ID|Year|Order Date| Ship Date|   Ship Mode|Customer ID|Customer Name| Segment|      Country|     City|   State|Postal Code|Region|     Product_ID| Category|Sub-Category|        Product Name| Sales|Quantity|Discount| Profit|
+------+--------------+----+----------+----------+------------+-----------+-------------+--------+-------------+---------+--------+-----------+------+---------------+---------+------------+--------------------+------+--------+--------+-------+
|     1|CA-2013-152156|2013| 11/9/2013|11/12/2013|Second Class|   CG-12520|  Claire Gute|Consumer|United States|Henderson|Kentucky|      42420| South|FUR-BO-10001798|Furniture|   Bookcases|Bush Somerset Col...|261.96|       2|       0|41.9136|
+------+--------------+----+----------+----------+------------+-----------+-------------+--------+-------------+---------+--------+-----------+------+---------------+---------+------------+--------------------+------+--------+--------+-------+
only showing top 1 row

In [ ]:
df_pyspark.withColumnRenamed('Product Name','Product_Name').show(1)